
:root{
    --clr-neutral-900: #13171b;
    --clr-neutral-100: #ffffff;
    --clr-accent-400: #FC9C9A;
    
    
  }
  
  *,
  *::before,
  *::after{
    box-sizing: border-box;
  }
  body{
  
    background: #B05B5A;
  
  }
  .C-body{
    display: flex;
    min-height: 60vh;
    place-items: center;
    line-height: 1.6;
    background: transparent;
    font-family: sans-serif;
  }
  
  .card{
    color: var(--clr-neutral-100);
    background-size: cover;
    padding: 15px;
    max-width: 100%;
    border-radius: 0.7rem;
    overflow: hidden;
    box-shadow: -1px 2px 2px 8px #FC9C9A;
    transition: transform 500ms ease;
    margin-bottom: 3rem;
  }
  .card-imagen{
    background-color: #3D2625;
    height: 251px;
    width: 500px;
  }
  .card:hover{
    /*con el mouse arriba sube*/
    transform: scale(1.05);
  }
  
  .card-content{
    padding: 0.3em;
    /*efecto de fading*/
    background-color: var(--clr-accent-400);
    background: linear-gradient(
        #3D2625,
        #7D4D4C 20%,
        #7f4c4ab3
    );
  
    transform: translateY(55%);
    transition: transform 500ms ease;
  }
  
  .card:hover .card-content{
    transform: translateY(0%);
    transition-delay: 400ms;
  
  
  }
  
  .card-title{
    position: relative;
    width: max-content;
    color: #fbfbfb;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Staatliches", sans-serif;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  
  }
  
  .card-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    background: var(--clr-accent-400);
    transform: scaleX(0);
    transition: transform 500ms ease;
  }
  
  .card:hover .card-title::after{
    transform: scaleX(1);
  }
  .button{
    font-family: "Staatliches", sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline;
    text-decoration: none;
    color: #13171b;
    background-color: var(--clr-accent-400);
    padding: 0.5em 1.25em;
    border-radius: 0.3em;
  }
  .button:hover,
  .button:focus{
    background-color: var(--clr-neutral-100);
  }
  a:link,
  a:visited,
  a:active {
    text-decoration: none;
  }